<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} 
                Base
            {% endblock %}</title>
    <style>
        .success {
            color: green;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body><br><br>
    <h1>Welcome</h1>
    <form action="{% url 'search' %}">
        <input type="text" name="q" id="query"/>
        <input type="submit" value="Search"/>
    </form>
    <hr>
    <br>
    {%block content %}

    {% endblock %}
</body>
</html>