{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}<br> 
    {% if messages %}
        {% for message in messages %}
            <h2 class="{{ message.tags }}">{{ message }}</h2>
        {% endfor %}
        <br>
    {% endif %}
    
    
        {% for article in article_all %}
            <a href="{% url 'articles' article.id %}"><h2>Object {{ article.id }}: {{ article.title }}</h2></a>
            <hr>
        {% endfor %}
        <br><br>
{% endblock %}