{% extends 'base.html' %}

{% block title %}
    List
{% endblock %}


{% block content %}<br> 
    {% if messages %}
        {% for message in messages %}
            <h2 class="{{ message.tags }}">{{ message }}</h2>
        {% endfor %}
        <br>
    {% endif %}
    
    <a href="{% url 'recipe-create' %}"><h3>Create Recipe</h3></a><br>

        {% for object in object_list %}
            <a href="{% url 'recipe-detail' id=object.id %}"><h2>Recipe {{ object.id }}: {{ object.name }}</h2></a>
            <hr>
        {% endfor %}
        <br><br>
{% endblock %}